mixin reminders()
  form.form()
    each reminder in reminders
      p.
        #{reminder.name} #[button(formaction=`/${reminder._id}` method="GET" type="submit") Delete]
      style.
        button {
          float: right;
        }