mixin reminderForm(reminder = {})
    form.form(action="/" method="POST")
        label(for="name") What should we buy...?
        input(type="text" name="name" placeholder="mulled wine, mince pies, christmas crackers..." value=reminder.name)
        //- label(for="reminder-date") WHEN would you like to be reminded?
        //- input(type="date" name="reminder-date")
        p 
        input.button(type="submit" value="Add item")
    form.form(action=`/${reminder._id}` method="POST")
        label(for="id") What should we delete...?
        input(type="text" name="id" placeholder="type ID here..." value=reminder._id)
        p
        input.button(type="submit" value="Delete item")