mixin reminderForm(reminder = {})
    form.form(action="/" method="POST")
        label(for="name") WHAT would you like to be reminded about?
        input(type="text" name="name" value=reminder.name)
        //- label(for="reminder-date") WHEN would you like to be reminded?
        //- input(type="date" name="reminder-date")
        p 
        input.button(type="submit" value="Create Reminder")