mixin reminderForm(reminder = {})
    form.form(action="/" method="POST")
        label(for="name") What should we buy...?
        input(type="text" name="name" placeholder="mulled wine, mince pies, christmas crackers..." value=reminder.name)
        p 
        input.button(type="submit" value="Add item")